body {
  margin: 0;
  background-color: #ffffff;
  color: #b9b9b9;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

section {
  margin-bottom: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  font-size: 14px;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 60px;
  background: #f1f1f1;
  -webkit-box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
}

@media screen and (min-width: 768px) {
  .hero__section {
    text-align: st;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1366px) {
  .hero__section {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.hero__section-info {
  margin-bottom: 30px;
}

.hero__title {
  text-align: start;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.30;
  letter-spacing: 0.03em;
  color: #111518;
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 95px;
    font-size: 26px;
    line-height: 1.30;
  }
}

@media screen and (min-width: 1366px) {
  .hero__title {
    font-size: 58px;
    line-height: 1.30;
  }
}

.hero__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  text-align: start;
  color: #b9b9b9;
}

.hero__subtitle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  text-align: start;
  color: #111518;
}

.hero__subtitle.color {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-size: 14px;
    line-height: 1.57;
  }
}

@media screen and (min-width: 1366px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 1.65;
  }
}

.button {
  width: 260px;
  padding: 17px 46px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6b09;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    margin: 0;
    padding: 14px 0;
  }
}

@media screen and (min-width: 1366px) {
  .button {
    width: 354px;
    padding: 27px 70px;
    font-size: 14px;
    line-height: 1.21;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.14em;
  }
}

.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 177px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero__img {
    width: 375px;
    height: 320px;
  }
}

@media screen and (min-width: 1366px) {
  .hero__img {
    width: 841px;
    height: 718px;
  }
}

.hero__img--nottransparent {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-47%, -47%);
          transform: translate(-47%, -47%);
}
/*# sourceMappingURL=main.css.map */