// root

//text
$primary-text-color: #b9b9b9;
$secondary-text-color: #3d3d3d;
$third-text-color: #ffffff;
$excretion-text-color: #ff6b09;

//title
$primary-title-text-color: #111518;
$secondary-title-text-color: #ffffff;
$excretion-title-text-color: #ff6b09;

//accent
$accent-color: #ff6b09;

//background
$primary-background-color: #ffffff;
$secondary-background-color: #111518;
$third-background-color: #f1f1f1;

//logo
$primary-logo-color: #111518;
$secondary-logo-color: #ff6b09;
$third-logo-color: #ffffff;
