<section class="hero">
    <div class="container">
        <h1 class="hero__title">Complex preparation for<br>English UPE</h1>
        <p class="hero__text">It won’t be easy.</p>
        <h2 class="hero__subtitle">But you’re guaranteed to get
            <span class="hero__subtitle color">+25 points</span>
        </h2>
        <button type="button" class="button">I want a free lesson</button>
        <div class="hero__img">
            <img class="hero__img--transparent" src="../src/images/img/mobile/Ellipse-mobile-1.png" alt="">
            <img class="hero__img--nottransparent" src="../src/images/img/mobile/Ellipse-mobile-2.png" alt="">
        </div>
    </div>
    </div>
</section>