<section class="program-section " id="studying-program">
	<div class=" program-section__content container">
		<h2 class="program-section__title">Our program</h2>
		<ul class="program-section__semester-list">
			<li class="program-section__semester-list-item">
				<h3 class="program-section__semester-list-title">1 semester</h3>
				<ul class="program-section__subject-list">
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Grammar</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Nouns & Articles</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Adjectives & Adverb</p></li>
						</ul>
					</li>
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Vocabulary</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Family & Relations</p>
							</li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">People & Society</p></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="program-section__semester-list-item">
				<h3 class="program-section__semester-list-title">2 semester</h3>
				<ul class="program-section__subject-list">
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Grammar</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Pronouns</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Active Voice</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Passive Voice</p></li>
						</ul>
					</li>
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Vocabulary</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Home</p>
							</li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">School</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Work</p></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="program-section__semester-list-item">
				<h3 class="program-section__semester-list-title">3 semester</h3>
				<ul class="program-section__subject-list">
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Grammar</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Modal verbs</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Infinitive</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Gerund</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Participle: 1, 2</p></li>
						</ul>
					</li>
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Vocabulary</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Travel & Tourism</p>
							</li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Culture & Free Time</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Sport</p></li>
						</ul>
					</li>
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Writing</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Informal Letter</p></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="program-section__semester-list-item">
				<h3 class="program-section__semester-list-title">4 semester</h3>
				<ul class="program-section__subject-list">
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Grammar</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Clauses: Conditional and Wishes</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Direct / Reported speech</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Preposition</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Conjunction</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Numeral</p></li>
						</ul>
					</li>
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Vocabulary</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Healthy Living</p>
							</li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Nature & Environment</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Money</p></li>
						</ul>
					</li>
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Writing</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Formal Letter</p></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="program-section__semester-list-item">
				<h3 class="program-section__semester-list-title">5 semester</h3>
				<ul class="program-section__subject-list">
					<li class="program-section__subject-list-item">
						<h4 class="program-section__subject-list-title">Examination</h4>
						<ul class="program-section__topic-list">
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Revision</p></li>
							<li class="program-section__topic-list-item"><p class="program-section__topic-list-text">Tests</p></li>
						</ul>
					</li>
		
				</ul>
			</li>
		</ul>
	</div>
	
</section>