<section>
  <div class="container">
    <h2 class="guarant__title">We guarantee</h2>
  </div>
  <div class="guarant__back">
    <div class="container">
      <ul class="guarant__list">
        <li class="guarant__item">
          <p>
            You will pass the UPE with at least 25 points better than on the
            first practice test. Otherwise, we will refund your money.<span
              class="guarant__text-select"
              >*</span
            >
          </p>
        </li>
        <li class="guarant__item">
          <div class="guarant__item-desk">
            <p>
              You will learn to write essays with at least 10 points out of 14.
              <span class="guarant__text-select"
                >While 20% of the students received 0 for essays.</span
              >
            </p>
          </div>
        </li>
        <li class="guarant__item">
          <div class="guarant__item-desk">
            <p>
              You will study in your area. We will choose the location for the
              classes after the teams have been formed.
            </p>
          </div>
        </li>
        <li class="guarant__item">
          <p>
            Teams will be formed based on the starting level of the students. We
            take into account the characteristics of each student.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
