<section class="advantages">
    <div class="container">
        <h3 class="hide">advantages</h3>
        <ul class="advantages__list">
            <div class="advantages__list-block">
                <li class="advantages__list-item">
                    <svg class="advantages__list-item-icon">
                        <use href="../src/images/img/mobile/Person.svg" class="advantages__icon">
                        </use>
                    </svg>
                    <p class="advanrages__text">Adapted author's
                        UPE program</p>
                </li>
            </div>
            <div class="advantages__list-block">
                <li class="advantages__list-item">
                    <svg class="advantages__list-item-icon">
                        <use href="../src/images/img/mobile/Mobile-learning-bord.svg" class="advantages__icon">
                        </use>
                    </svg>
                    <p class="advanrages__text">Modern
                        teaching methods</p>
                </li>
            </div>
            <div class="advantages__list-block">
                <li class="advantages__list-item">
                    <svg class="advantages__list-item-icon">
                        <use href="../src/images/img/mobile/Money.svg" class="advantages__icon">
                        </use>
                    </svg>
                    <p class="advanrages__text">Financial guarantee
                        the result</p>
                </li>
            </div>
        </ul>
    </div>

</section>