<section class="reviews">

    <section class="slider-for slider">
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=100">
        </div>
    </section>

    <section class="slider-nav slider">
        <div>
            <img src="http://placehold.it/350x100?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=100">
        </div>
    </section>



</section>

