<section class="advantages">
    <div class="container">
        <h3 class="hide">advantages</h3>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <p class="advanrages__text">Adapted author's
                    UPE program</p>
            </li>
            <li class="advantages__list-item">
                <p class="advanrages__text">Modern
                    teaching methods</p>
            </li>
            <li class="advantages__list-item">
                <p class="advanrages__text">Financial guarantee<br>
                    the result</p>
            </li>

        </ul>
    </div>

</section>