<section class="benefits-section ">
    <div class="benefits-section__content container">
        <h2 class="benefits-section__title">Why do people choose us</h2>
        <div class="benefits-section__list-content">
            <ol class="benefits-section__list list__counter--second">
                <li class="benefits-section__list-item  item__counter--second">Training in small groups</li>
                <li class="benefits-section__list-item  item__counter--second">Rendered notes</li>
                <li class="benefits-section__list-item  item__counter--second">Each lesson has a goal and a specific result</li>
                <li class="benefits-section__list-item  item__counter--second">The real results of the teacher</li>
                <li class="benefits-section__list-item  item__counter--second">The course program meets the requirements of the MES of
                    Ukraine</li>
                <li class="benefits-section__list-item  item__counter--second">Set of groups by level of knowledge</li>
            </ol>
        </div>
    </div>
</section>