<footer class="footer">
    <div class="footer__container container">
        <div class="footer__content">
            <div class="logo-container">
                <a href="./index.html" class="logo logo--absolute footer__logo ">
                    <div class="top-part">
                        <span class="top-part__left">Hell</span>
                        <svg class="top-part__svg" aria-label="logo">
                            <use class="" href="./images/svg/svg-icon.svg#icon-logo-favicon"></use>
                        </svg>
                        <span class="top-part__riht">EN</span>
                    </div>
            
                    <div class="bottom-part">
                        <span class="bottom-part__left">Hellish</span>
                        <span class="bottom-part__riht">english</span>
                    </div>
                </a>
            </div>
            <div class="footer__right-contact">
                <a class="footer__tel-link a" href="tel:+380961111111">
                    <svg class="icon-tel" width="20" height="20">
                        <use href="./images/svg/svg-icon.svg#icon-phone"></use>
                    </svg>
                    +38 (000) 000 00 00</a>
                <a class="instagram" href="#" target="blank" rel="noreferrer noopener"></a>
            </div>
        </div>
   
        <p class="rights">@ All rights reserved, 2019</p>

    </div>
</footer>
