<section class="how-we-do section">
    <div class="container how-we-do__container">
        <h2 class="how-we-do__title">How do we do it</h2>
        <!-- <div class="problems__board"> -->
            <ul class="how-we-do__list list">
                <li class="how-we-do__item">
                    <svg class="how-we-do__icon" width="46" height="48">
                        <use href="../src/images/svg/svg-icon.svg#icon-list"></use>
                    </svg>
                    <h3 class="how-we-do__name"><span class="how-we-do__name--shift">Adapted program</span> <span class="how-we-do__name--shift">preparation for UPE</span></h3>
                    <p class="how-we-do__description">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
                </li>

                <li class="how-we-do__item">
                    <svg class="how-we-do__icon" width="48" height="48">
                        <use href="../src/images/svg/svg-icon.svg#icon-mobile-learning"></use>
                    </svg>
                    <h3 class="how-we-do__name"><span class="how-we-do__name--shift">Classroom and online</span> <span class="how-we-do__name--shift">learning</span></h3>
                    <p class="how-we-do__description"><span class="how-we-do__description--shift">The teacher will help not only in the classroom, but also during home preparation.</span> <span class="how-we-do__description--shift"> Parents can chat if they wish.</span></p>
                </li>

                <li class="how-we-do__item">
                <svg class="how-we-do__icon" width="68" height="48">
                    <use href="../src/images/svg/svg-icon.svg#icon-open-book"></use>
                </svg>
                <h3 class="how-we-do__name">The habit of reading in English</h3>
                <p class="how-we-do__description">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
                </li>

                <li class="how-we-do__item">
                    <svg class="how-we-do__icon" width="48" height="48">
                        <use href="../src/images/svg/svg-icon.svg#icon-heand-people"></use>
                    </svg>
                    <h3 class="how-we-do__name"><span class="how-we-do__name--shift">Psychological</span> support</h3>
                    <p class="how-we-do__description">We will teach you testing techniques, the ability to plan your confidence training
                    <span class="how-we-do__description--shift">in itself.</span></p>
                </li>

                <li class="how-we-do__item">
                    <svg class="how-we-do__icon" width="40" height="48">
                        <use href="../src/images/svg/svg-icon.svg#icon-mobile-learning"></use>
                    </svg>
                    <h3 class="how-we-do__name">Training on copyright manuals</h3>
                    <p class="how-we-do__description">You don't have to waste your time
                    on a search for material and to buy anything extra. We have compiled
                    <span class="how-we-do__description--shift">2 manuals for you.</span></p>
                </li>

                <li class="how-we-do__item">
                    <svg class="how-we-do__icon" width="57" height="48">
                        <use href="../src/images/svg/svg-icon.svg#icon-mobile-learning"></use>
                    </svg>
                    <h3 class="how-we-do__name">Ability to comprehend spoken English</h3>
                    <p class="how-we-do__description">“F.R.I.E.N.D.S” won't help you. You will listen regularly
                    <span class="how-we-do__description--shift">and analyze audio recordings
                    in accordance with the studied vocabulary.</span></p>
                </li>

                
            </ul>
        <!-- </div> -->
    </div>
</section>