<section class="benefits-section " id="training-options">
    <div class="benefits-section__content container">
        <h2 class="benefits-section__title">Why do people choose us</h2>
        <div class="benefits-section__list-content">
            <ol class="benefits-section__list list__counter--second">
                <li class="benefits-section__list-item  item__counter--second">
                    <p class="benefits-section__list-text">Training in small groups</p></li>
                <li class="benefits-section__list-item  item__counter--second">
                    <p class="benefits-section__list-text">Rendered notes</p></li>
                <li class="benefits-section__list-item  item__counter--second">
                    <p class="benefits-section__list-text">Each lesson has a goal and a specific result</p></li>
                <li class="benefits-section__list-item  item__counter--second">
                    <p class="benefits-section__list-text">The real results of the teacher</p></li>
                <li class="benefits-section__list-item  item__counter--second">
                    <p class="benefits-section__list-text">The course program meets the requirements of the MES of
                Ukraine</p></li>
                <li class="benefits-section__list-item  item__counter--second">
                    <p class="benefits-section__list-text">Set of groups by level of knowledge</p></li>
            </ol>
        </div>
    </div>
</section>