<section class="hero">
    <div class="container">
        <div class="hero__section">
            <div class="hero__section-info">
                <h1 class="hero__title">Complex preparation for English UPE</h1>
                <p class="hero__text">It won’t be easy.</p>
                <h2 class="hero__subtitle">But you’re guaranteed to get
                    <span class="hero__subtitle color">+25 points</span>
                </h2>
                <a href="#" class="hero__section-button"><button class="button">I want a free lesson</button></a>
            </div>
            <div class="hero__img">
                <picture>
                    <source
                        srcset="../src/images/img/desktop/Ellipse-desktop-1.webp 1x, ../src/images/img/desktop/Ellipse-desktop-1@2x.webp 2x"
                        media="(min-width:1200px)" type="image/webp">
                    <source
                        srcset="../src/images/img/desktop/Ellipse-desktop-1.png 1x, ../src/images/img/desktop/Ellipse-desktop-1@2x.png 2x"
                        media="(min-width:1200px)">
                    <source
                        srcset="../src/images/img/tablet/Ellipse-tablet-1.webp 1x, ../src/images/img/tablet/Ellipse-tablet-1@2x.webp 2x"
                        media="(min-width:768px)" type="image/webp">
                    <source
                        srcset="../src/images/img/tablet/Ellipse-tablet-1.png 1x, ../src/images/img/tablet/Ellipse-tablet-1@2x.png 2x"
                        media="(min-width:768px)">
                    <source
                        srcset="../src/images/img/mobile/Ellipse-mobile-1.webp 1x, ../src/images/img/mobile/Ellipse-mobile-1@2x.webp 2x"
                        media="(min-width:280px)" type="image/webp">
                    <source
                        srcset="../src/images/img/mobile/Ellipse-mobile-1.png 1x, ../src/images/img/mobile/Ellipse-mobile-1@2x.png 2x"
                        media="(min-width:280px)">
                    <img src="#" alt="описание" class="hero__img--transparent">
                </picture>

                <picture>
                    <source
                        srcset="../src\images\img\desktop/Ellipse-desktop-2.webp 1x, ../src/images/img/desktop/Ellipse-desktop-2@2x.webp 2x"
                        media="(min-width:1200px)" type="image/webp">
                    <source
                        srcset="../src/images/img/desktop/Ellipse-desktop-2.png 1x, ../src/images/img/desktop/Ellipse-desktop-2@2x.png 2x"
                        media="(min-width:1200px)">
                    <source
                        srcset="../src/images/img/tablet/Ellipse-tablet-2.webp 1x, ../src/images/img/tablet/Ellipse-tablet-2@2x.webp 2x"
                        media="(min-width:768px)" type="image/webp">
                    <source
                        srcset="../src/images/img/tablet/Ellipse-tablet-2.png 1x, ../src/images/img/tablet/Ellipse-tablet-2@2x.png 2x"
                        media="(min-width:768px)">
                    <source
                        srcset="../src/images/img/mobile/Ellipse-mobile-2.webp 1x, ../src/images/img/mobile/Ellipse-mobile-2@2x.webp 2x"
                        media="(min-width:280px)" type="image/webp">
                    <source
                        srcset="../src/images/img/mobile/Ellipse-mobile-2.png 1x, ../src/images/img/mobile/Ellipse-mobile-2@2x.png 2x"
                        media="(min-width:280px)">
                    <img src="#" alt="описание" class="hero__img--nottransparent">
                </picture>
            </div>
        </div>
    </div>
</section>