<section class="contacts section" id="contacts">
    <div class="contacts__container container">
        <h2 class="contacts__title">Registration for a <span class="accent-words">free</span>  phone <span class="accent-words">consultation</span> on the nuances of English UPE</h2>
        <h3 class="contacts__description">Leave a request for participation in a <span class="accent-words">free lesson</span>.<br/>
            A consultant will contact you and answer your questions</h3>
            <form class="contacts__form">
                <label class="contacts__label name-label">
                  <input type="text" class="contacts__input" name="username" placeholder="Name*" required minlength="2">
                </label>
              
                <label class="contacts__label tel-label">
                  <input type="tel" class="contacts__input" name="tel" placeholder="Phone*"  required pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="067-000-00-00">
                </label>

                <button class="contacts__button" type="submit">i want a free lesson</button>
              </form>
              
    </div>
</section>