<section class="contacts section">
    <div class="contacts__container container">
        <h2 class="contacts__title">Registration for a <span class="accent-words">free</span>  phone <span class="accent-words">consultation</span> on the nuances of English UPE</h2>
        <h3 class="contacts__description">Leave a request for participation in a <span class="accent-words">free lesson</span>.<br/>
            A consultant will contact you and answer your questions</h3>
            <form class="contacts__form">
                <label class="contacts__label">
                  <input type="text" class="contacts__input" name="username" placeholder="Name*">
                </label>
              
                <label class="contacts__label">
                  <input type="email" class="contacts__input" name="mail" placeholder="Phone*">
                </label>
                <button class="contacts__button" type="submit">i want a free lesson</button>
              </form>
    </div>
</section>