    <section class="container reviews">
        <h2 class="reviews__title">Feedback from graduates</h2>
        <div class="review-slide slider slider-for">


            <!-- CARD1 -->
            <div class="review-slide__card">
                <div class="review-slide__first-block">
        <picture class="review-slide__portrait">
            <source srcset="./images/img/tablet/page-reviews/img-t-1.jpg 1x, ./images/img/tablet/page-reviews/img-t-1@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/img/mobile/page-reviews/img-m-1.jpg 1x, ./images/img/mobile/page-reviews/img-m-1@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/img/mobile/page-reviews/img-m-1.jpg" alt="фото девушки">
        </picture>

                    <div class="vk">
                                  <svg class="review-slide__social-svg">
                <use href="./images/svg/svg-icon.svg#icon-vk"></use>
              </svg>
                    </div>
                </div>
                <div class="review-slide__second-block">
                    <h3 class="review-slide__name-comment">Lancia Delta</h3>
                   <article> <h4 class="review-slide__about">
                        Graduated from 2015, National University of Bioresources and natural history of Ukraine
                    </h4>
                    <p class="review-slide__comment">In a short time with Elena, I mastered grammar and replenished my
                        completely empty vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that I'm
                        student ... <a href="/" class="review-slide__read-more-link">Read more</a></p></article>
                </div>
            </div>
            <!-- CARD1END -->
            <!-- CARD2 -->
            <div class="review-slide__card">
                <div class="review-slide__first-block">
        <picture class="review-slide__portrait">
            <source srcset="./images/img/tablet/page-reviews/img-t-2.jpg 1x, ./images/img/tablet/page-reviews/img-t-2@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/img/mobile/page-reviews/img-m-2.jpg 1x, ./images/img/mobile/page-reviews/img-m-2@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/img/mobile/page-reviews/img-m-2.jpg" alt="фото девушки">
        </picture>

                    <div class="vk">
                                  <svg class="review-slide__social-svg">
                <use href="./images/svg/svg-icon.svg#icon-vk"></use>
              </svg>
                    </div>
                </div>
                <div class="review-slide__second-block">
                    <h3 class="review-slide__name-comment">Sasha Kishenko</h3>
                   <article> <h4 class="review-slide__about">
                        Graduated from 2015, National University of Bioresources and natural history of Ukraine
                    </h4>
                    <p class="review-slide__comment">In a short time with Elena, I mastered grammar and replenished my
                        completely empty
                        vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She
                        became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that
                        I'm
                        student ... <a href="/" class="review-slide__read-more-link">Read more</a></p></article>
                </div>
            </div>
            <!-- CARD2END -->
            <!-- CARD3 -->
            <div class="review-slide__card">
                <div class="review-slide__first-block">
        <picture class="review-slide__portrait">
            <source srcset="./images/img/tablet/page-reviews/img-t-3.jpg 1x, ./images/img/tablet/page-reviews/img-t-3@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/img/mobile/page-reviews/img-m-3.jpg 1x, ./images/img/mobile/page-reviews/img-m-3@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/img/mobile/page-reviews/img-m-3.jpg" alt="фото девушки">
        </picture>

                    <div class="vk">
                                  <svg class="review-slide__social-svg">
                <use href="./images/svg/svg-icon.svg#icon-vk"></use>
              </svg>
                    </div>
                </div>
                <div class="review-slide__second-block">
                    <h3 class="review-slide__name-comment">Maria Tereza</h3>
                   <article> <h4 class="review-slide__about">
                        Graduated from 2015, National University of Bioresources and natural history of Ukraine
                    </h4>
                    <p class="review-slide__comment">In a short time with Elena, I mastered grammar and replenished my
                        completely empty
                        vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She
                        became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that
                        I'm
                        student ... <a href="/" class="review-slide__read-more-link">Read more</a></p></article>
                </div>
            </div>
            <!-- CARD3END -->
            <!-- CARD4 -->
            <div class="review-slide__card">
                <div class="review-slide__first-block">
        <picture class="review-slide__portrait">
            <source srcset="./images/img/tablet/page-reviews/img-t-4.jpg 1x, ./images/img/tablet/page-reviews/img-t-4@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/img/mobile/page-reviews/img-m-4.jpg 1x, ./images/img/mobile/page-reviews/img-m-4@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/img/mobile/page-reviews/img-m-4.jpg" alt="фото девушки">
        </picture>

                    <div class="vk">
                                  <svg class="review-slide__social-svg">
                <use href="./images/svg/svg-icon.svg#icon-vk"></use>
              </svg>
                    </div>
                </div>
                <div class="review-slide__second-block">
                    <h3 class="review-slide__name-comment">Anastasia Bernouka</h3>
                   <article> <h4 class="review-slide__about">
                        Graduated from 2015, National University of Bioresources and natural history of Ukraine
                    </h4>
                    <p class="review-slide__comment">In a short time with Elena, I mastered grammar and replenished my
                        completely empty
                        vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She
                        became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that
                        I'm
                        student ... <a href="/" class="review-slide__read-more-link">Read more</a></p></article>
                </div>
            </div>
            <!-- CARD4END -->
            <!-- CARD5 -->
            <div class="review-slide__card">
                <div class="review-slide__first-block">
        <picture class="review-slide__portrait">
            <source srcset="./images/img/tablet/page-reviews/img-t-5.jpg 1x, ./images/img/tablet/page-reviews/img-t-5@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/img/mobile/page-reviews/img-m-5.jpg 1x, ./images/img/mobile/page-reviews/img-m-5@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/img/mobile/page-reviews/img-m-5.jpg" alt="фото девушки">
        </picture>

                    <div class="vk">
                                  <svg class="review-slide__social-svg">
                <use href="./images/svg/svg-icon.svg#icon-vk"></use>
              </svg>
                    </div>
                </div>
                <div class="review-slide__second-block">
                    <h3 class="review-slide__name-comment">Marija Ivanovna</h3>
                   <article> <h4 class="review-slide__about">
                        Graduated from 2015, National University of Bioresources and natural history of Ukraine
                    </h4>
                    <p class="review-slide__comment">In a short time with Elena, I mastered grammar and replenished my
                        completely empty
                        vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She
                        became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that
                        I'm
                        student ... <a href="/" class="review-slide__read-more-link">Read more</a></p></article>
                </div>
            </div>
            <!-- CARD5END -->
            <!-- CARD6 -->
            <div class="review-slide__card">
                <div class="review-slide__first-block">
        <picture class="review-slide__portrait">
            <source srcset="./images/img/tablet/page-reviews/img-t-6.jpg 1x, ./images/img/tablet/page-reviews/img-t-6@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/img/mobile/page-reviews/img-m-6.jpg 1x, ./images/img/mobile/page-reviews/img-m-6@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/img/mobile/page-reviews/img-m-6.jpg" alt="фото девушки">
        </picture>

                    <div class="vk">
                                  <svg class="review-slide__social-svg">
                <use href="./images/svg/svg-icon.svg#icon-vk"></use>
              </svg>
                    </div>
                </div>
                <div class="review-slide__second-block">
                    <h3 class="review-slide__name-comment">Tonya Kucherovskaya</h3>
                   <article> <h4 class="review-slide__about">
                        Graduated from 2015, National University of Bioresources and natural history of Ukraine
                    </h4>
                    <p class="review-slide__comment">In a short time with Elena, I mastered grammar and replenished my
                        completely empty
                        vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She
                        became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that
                        I'm
                        student ... <a href="/" class="review-slide__read-more-link">Read more</a></p></article>
                </div>
            </div>
            <!-- CARD6END -->
            <!-- CARD7 -->
            <div class="review-slide__card">
                <div class="review-slide__first-block">
        <picture class="review-slide__portrait">
            <source srcset="./images/img/tablet/page-reviews/img-t-7.jpg 1x, ./images/img/tablet/page-reviews/img-t-7@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/img/mobile/page-reviews/img-m-7.jpg 1x, ./images/img/mobile/page-reviews/img-m-7@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/img/mobile/page-reviews/img-m-7.jpg" alt="фото девушки">
        </picture>

                    <div class="vk">
                                  <svg class="review-slide__social-svg">
                <use href="./images/svg/svg-icon.svg#icon-vk"></use>
              </svg>
                    </div>
                </div>
                <div class="review-slide__second-block">
                    <h3 class="review-slide__name-comment">Vitya Kozhedub</h3>
                   <article> <h4 class="review-slide__about">
                        Graduated from 2015, National University of Bioresources and natural history of Ukraine
                    </h4>
                    <p class="review-slide__comment">In a short time with Elena, I mastered grammar and replenished my
                        completely empty
                        vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She
                        became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that
                        I'm
                        student ... <a href="/" class="review-slide__read-more-link">Read more</a></p></article>
                </div>
            </div>
            <!-- CARD7END -->
        </div>
<div class="review-slide__nav-slider-box">
        <ul class="list-review-nav slider slider-nav">
            <li class="review-slide__nav-slider-link img-1">
            </li>
            <li class="review-slide__nav-slider-link img-2">
            </li>
            <li class="review-slide__nav-slider-link img-3">
            </li>
            <li class="review-slide__nav-slider-link img-4">
            </li>
            <li class="review-slide__nav-slider-link img-5">
            </li>
            <li class="review-slide__nav-slider-link img-6">
            </li>
            <li class="review-slide__nav-slider-link img-7">
            </li>


        </ul>
</div>
    </section>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- <script src="./slick/slick.min.js"></script>
<script src="./slick/slick-settings.js"></script> -->


