<section class="advantages">
    <div class="container">
        <h3 class="hide">advantages</h3>
        <ul class="advantages__list">
            <div class="advantages__list-block">
                <li class="advantages__list-item">
                    <svg class="advantages__list-item-icon">
                        <use href="./images/svg/svg-icon.svg#icon-person" class="advantages__icon">
                        </use>
                        <use href="./images/svg/svg-icon.svg#icon-person-desk" class="advantages__icon-desk">
                        </use>
                    </svg>
                    <p class="advanrages__text">Adapted author's
                        UPE program</p>
                </li>
            </div>
            <div class="advantages__list-block">
                <li class="advantages__list-item">
                    <svg class="advantages__list-item-icon">
                        <use href="./images/svg/svg-icon.svg#icon-mobile-learning-bord" class="advantages__icon">
                        </use>
                        <use href="./images/svg/svg-icon.svg#icon-mobile-learning-bord-desk"
                            class="advantages__icon-desk">
                        </use>
                    </svg>
                    <p class="advanrages__text">Modern
                        teaching methods</p>
                </li>
            </div>
            <div class="advantages__list-block">
                <li class="advantages__list-item">
                    <svg class="advantages__list-item-icon">
                        <use href="./images/svg/svg-icon.svg#icon-money" class="advantages__icon">
                        </use>
                        <use href="./images/svg/svg-icon.svg#icon-mobile-bord-desk" class="advantages__icon-desk">
                        </use>
                    </svg>
                    <p class="advanrages__text">Financial guarantee
                        the result</p>
                </li>
            </div>
        </ul>
    </div>

</section>