<section class="problems section">
  <div class="container problems__container">
    <h2 class="problems__title">
      <span class="problems__title--shift">The main problems of students</span
      ><span class="problems__title--shift"> in English UPE, which </span>
      <span class="problems__title--shift"
        >we <span class="problems__title--select">help</span> to solve
      </span>
    </h2>
    <div class="problems__board">
      <ul class="problems__list counter__list">
        <li class="problems__item counter__item">
          <p class="problems__description">Grammar</p>
        </li>
        <li class="problems__item counter__item">
          <p class="problems__description">
            Inability to understand spoken English
          </p>
        </li>
        <li class="problems__item counter__item">
          <p class="problems__description">
            Stingy vocabulary for writing an essay
          </p>
        </li>
        <li class="problems__item counter__item">
          <p class="problems__description">Preparing alone</p>
        </li>
        <li class="problems__item counter__item">
          <p class="problems__description">
            Lack of a single knowledge resource
          </p>
        </li>
        <li class="problems__item counter__item">
          <p class="problems__description">
            Lack of self-organization and laziness
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
