<section class="problems section">
    <div class="container problems__container">
        <h2 class="problems__title">
            <span class="problems__title--shift">The main problems of students</span><span
                class="problems__title--shift"> in
                English UPE, which </span> <span class="problems__title--shift">we <span
                    class="problems__title--select">help</span> to
                solve </span>
        </h2>
        <div class="problems__board">
            <ul class="problems__list list__counter list">
                <li class="problems__item item__counter">Grammar</li>
                <li class="problems__item item__counter">Inability to understand spoken English</li>
                <li class="problems__item item__counter">Stingy vocabulary for writing an essay</li>
                <li class="problems__item item__counter">Preparing alone</li>
                <li class="problems__item item__counter">Lack of a single knowledge resource</li>
                <li class="problems__item item__counter">Lack of self-organization and laziness</li>
            </ul>
        </div>
    </div>
</section>