<header class="header">
  <div class="container">
    <nav class="main-nav">
      <a href="./index.html" class="logo logo--absolute ">
        <div class="top-part">
          <span class="top-part__left">Hell</span>
          <svg class="top-part__svg" aria-label="logo">
            <use class="" href="./images/svg/svg-icon.svg#icon-logo-favicon"></use>
          </svg>
          <span class="top-part__riht">EN</span>  
        </div>
        
        <div class="bottom-part">
          <span class="bottom-part__left">Hellish</span>
          <span class="bottom-part__riht">english</span> 
        </div>
        

      </a>
      <button type="button" class="menu-button" aria-expanded="false" aria-controls="menu-container" data-menu-button>
        <svg class="menu-button__svg" aria-label="Переключатель мобильного меню">
          <use class="menu-button__menu" href="./images/svg/svg-icon.svg#icon-burger-menu"></use>
          <use class="menu-button__cross" href="./images/svg/svg-icon.svg#icon-output"></use>
        </svg>
      </button>

      <ul class="site-nav">
        <li><a href="#studying-program">Studying program</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#training-options">Training options</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
      
      <button class="buttun-primary buttun-primary--tablet-up " data-modal-open type="button"> Consultation by phone </button>
    </nav>


    <div class="menu-container-mobile" id="menu-container" data-menu >
      <div class="container">
       <nav class="main-nav-mobile">
        <ul class="site-nav-mobile">
          <li class="site-nav-mobile__item"><a href="#studying-program" class="site-nav-mobile__link">Studying program</a></li>
          <li class="site-nav-mobile__item"><a href="#about" class="site-nav-mobile__link">About</a></li>
          <li class="site-nav-mobile__item"><a href="#training-options" class="site-nav-mobile__link">Training options</a></li>
          <li class="site-nav-mobile__item"><a href="#contacts" class="site-nav-mobile__link">Contacts</a></li>
        </ul>
      </nav>
      <button class="buttun-primary buttun-primary--mobile" data-modal-open type="button"> Consultation by phone </button> 
      </div>
    </div>
    
  </div> 
</header>
