<section class="hero">
	<div class="container">
		<div class="hero__section">
			<div class="hero__section-info">
				<div class="hero__section-info-title">
					<h1 class="hero__title">Complex preparation for English UPE</h1>
					<p class="hero__text">It won’t be easy.</p>
					<h2 class="hero__subtitle">But you’re guaranteed to get
						<span class="hero__subtitle color">+25 points</span>
					</h2>
				</div>
				<a href="#contacts" class="button site-nav__link--js-scroll">I want a free
					lesson</a>
			</div>
			<div class="hero__img">
				<div class="hero__img-animation">
					<picture>
						<source
							srcset="./images/img/desktop/Ellipse-desktop-1.webp 1x, ./images/img/desktop/Ellipse-desktop-1@2x.webp 2x"
							media="(min-width:1366px)" type="image/webp">
						<source
							srcset="./images/img/desktop/Ellipse-desktop-1.png 1x, ./images/img/desktop/Ellipse-desktop-1@2x.png 2x"
							media="(min-width:1366px)">
						<source
							srcset="./images/img/tablet/Ellipse-tablet-1.webp 1x, ./images/img/tablet/Ellipse-tablet-1@2x.webp 2x"
							media="(min-width:480px)" type="image/webp">
						<source srcset="./images/img/tablet/Ellipse-tablet-1.png 1x, ./images/img/tablet/Ellipse-tablet-1@2x.png 2x"
							media="(min-width:480px)">
						<source
							srcset="./images/img/mobile/Ellipse-mobile-1.webp 1x, ./images/img/mobile/Ellipse-mobile-1@2x.webp 2x"
							media="(min-width:280px)" type="image/webp">
						<source srcset="./images/img/mobile/Ellipse-mobile-1.png 1x, ./images/img/mobile/Ellipse-mobile-1@2x.png 2x"
							media="(min-width:280px)">
						<img src="#" alt="описание" class="hero__img--transparent animate__fadeInLeftBig animate__animated">
					</picture>
				</div>
				<div class="hero__img-absolut">
					<picture>
						<source
							srcset="./images/img/desktop/Ellipse-desktop-2.webp 1x, ./images/img/desktop/Ellipse-desktop-2@2x.webp 2x"
							media="(min-width:1366px)" type="image/webp">
						<source
							srcset="./images/img/desktop/Ellipse-desktop-2.png 1x, ./images/img/desktop/Ellipse-desktop-2@2x.png 2x"
							media="(min-width:1366px)">
						<source
							srcset="./images/img/tablet/Ellipse-tablet-2.webp 1x, ./images/img/tablet/Ellipse-tablet-2@2x.webp 2x"
							media="(min-width:480px)" type="image/webp">
						<source srcset="./images/img/tablet/Ellipse-tablet-2.png 1x, ./images/img/tablet/Ellipse-tablet-2@2x.png 2x"
							media="(min-width:480px)">
						<source
							srcset="./images/img/mobile/Ellipse-mobile-2.webp 1x, ./images/img/mobile/Ellipse-mobile-2@2x.webp 2x"
							media="(min-width:280px)" type="image/webp">
						<source srcset="./images/img/mobile/Ellipse-mobile-2.png 1x, ./images/img/mobile/Ellipse-mobile-2@2x.png 2x"
							media="(min-width:280px)">
						<img src="#" alt="описание" class="hero__img--nottransparent animate__fadeInRightBig animate__animated">
					</picture>
				</div>
			</div>
		</div>
	</div>
</section>