.counter__list {
  counter-reset: counter__item;
}

.counter__item {
  &::before {
    counter-increment: counter__item;
    display: block;
    content: '— 0' counter(counter__item);

    color: $accent-color;
  }
}
