.list__counter {
  counter-reset: list__counter;
}

.item__counter {
  &::before {
    counter-increment: item__counter;
    display: block;
    content: '— 0' counter(item__counter);

    margin-bottom: 5px;

    color: $accent-color;
  }
}
