.advantages{
   display: flex;
    justify-content: center;
    align-items: center;
}


.advantages__list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.advantages__list-item{
    
    display: flex;
    margin-bottom: 21px;
    align-items: center;

}

.advanrages__text{
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.65;
    align-items: center;
    color: $primary-title-text-color;
}

.advantages__list-item-icon{
        width: 60px;
        height: 60px;

        @media screen and (min-width:$desktop-up){
            width: 120px;
            height: 102px;
        }
}

.advantages__icon{
    display: block;
    width: 60px;
    height: 60px;
}

.advantages__icon-desk{
    display: block;
    width: 120px;
    height: 102px;
}

// .advantages__list-block{
//     width: 216px;
// }
