.guarant__title {
  margin-bottom: 30px;
  text-align: center;

  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: $primary-title-text-color;
}

.guarant__back {
  background-color: $third-background-color;
}

.guarant__list {
  padding: 50px 0 51px 35px;
}

.guarant__item {
  position: relative;

  margin-bottom: 23px;

  color: $secondary-text-color;

  &:first-child {
    min-height: 75px;
  }

  & + & {
    min-height: 55px;
  }

  &::before {
    display: block;
    content: url(../images/img/mobile/page-guarantee/guarant-icon.svg);
    width: 14.67px;
    height: 20px;

    position: absolute;
    top: 0;
    left: -20.33px;
    transform: translate(-50%);
  }

  &:not(:last-child)::after {
    display: block;
    content: '';

    position: absolute;
    left: -20.33px;
    bottom: -18px;

    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: $primary-text-color;
  }

  &:first-child::after {
    height: 68px;
  }

  & + &::after {
    height: 48px;
  }
}

.guarant__text {
  letter-spacing: normal;
}

.guarant__text-select {
  color: $selection-text-color;
}

@media (min-width: $tablet-general) {
  .guarant__back {
    background-color: transparent;

    &--list {
      background-color: $third-background-color;
    }
  }

  .guarant__list {
    padding: 30px 50px 30px 118px;
  }

  .guarant__item {
    min-height: auto;

    &:first-child {
      min-height: auto;
    }

    & + & {
      min-height: auto;
    }

    &::before {
      left: -24.33px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:not(:last-child)::after {
      height: 30px;

      left: -24.33px;
      bottom: -15px;
    }
  }
}

@media (min-width: $desktop-up) {
  .guarant__title {
    font-size: 46px;

    margin-bottom: 50px;
  }

  .guarant__list {
    padding: 50px 112px 45px 164px;
  }

  .guarant__item {
    margin-bottom: 0;

    &::before {
      width: 22px;
      height: 30px;

      content: url(../images/img/desktop/page-guarantee/guarant-icon-desk.svg);

      left: -30px;
    }

    &:not(:last-child)::after {
      height: 40px;

      left: -30px;
      bottom: -17px;
    }
  }

  .guarant__text {
    font-size: 20px;
    line-height: 1.4;
  }
}
