.hero{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $third-background-color;
    background-image: url("../images/img/mobile/Vector-mobile-1.png");
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/img/mobile/Vector-mobile-1@2x.png");
        }


        @media screen and (min-width:$mobile-general){
        background-image: url('../images/img/tablet/Vector-tablet-1.png');
  

    @media (min-device-pixel-ratio: 2) and (min-width:$mobile-general),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/img/tablet/Vector-tablet-1@2x.png');
        }
    }

      @media screen and (min-width:$tablet-general){
        background-image: url('../images/img/desktop/Vector-desktop-1.png');
  

    @media (min-device-pixel-ratio: 2) and (min-width:$tablet-general),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/img/desktop/Vector-desktop-1@2x.png');
        }
    }
     
     
    
    &__section{
    @media screen and (min-width:$tablet-general){
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }

     @media screen and (min-width:$desktop-up){
        padding-top: 30px;
        padding-bottom: 0;
        
    }
    }
}
.hero__section-info{
    margin-bottom: 40px;
}

.hero__title{
    text-align: start;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.30;
    letter-spacing: 0.03em;
    color: $primary-title-text-color;

    @media screen and (min-width:$tablet-general){
        margin-bottom: 95px;
        font-size: 20px;
        line-height: 1.30;
    }

     @media screen and (min-width:$desktop-up){
        font-size: 58px;
        line-height: 1.30;
        
    }
}

.hero__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    text-align: start;
    color: $primary-text-color;

    

}

.hero__subtitle{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    text-align: start;
    color: $primary-title-text-color;
     &.color{
    color: $selection-text-color;
    }
      @media screen and (min-width:$tablet-general){
        font-size: 14px;
        line-height: 1.57;
    }

     @media screen and (min-width:$desktop-up){
        font-size: 20px;
        line-height: 1.65;
        
    }

}

.button{
    width: 100%;
    padding: 17px 46px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $third-text-color;
    background-color: $selection-title-text-color;
    border:none;
    cursor: pointer;
   

@media screen and (min-width:$tablet-general){
    width: 260px;
        margin: 0;
        padding: 14px 0;
    }

@media screen and (min-width:$desktop-up){
    width: 354px;
    padding: 27px 70px;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    letter-spacing: 0.14em;
    }
}

.hero__img{
     
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   
}

.hero__img--transparent{  
    animation: backInLeft  1000ms cubic-bezier(0.4, 0, 0.2, 1);
          @media screen and (min-width:$desktop-up){
        max-width:unset;
    }
    }

    .hero__img-animation{
        position: relative;
            }

    .hero__img-absolut{
    position:absolute;
    }
    .hero__img--nottransparent{
        display: block;
        animation: bounceInRight 1000ms cubic-bezier(0.4, 0, 0.2, 1);
        
        @media screen and (min-width:$desktop-up){
            max-width:unset;
        }

}

