.header {
  position: relative;
}

/*=======menucontainer mobile=======*/
.menu-container-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: $menu-background-color;

  &--is-open {
    display: block;
    overflow-y: auto;
    padding: 110px 0 0 0;
    margin-left: auto;
  }
}

.main-nav-mobile {
  display: flex;
  justify-content: flex-start;
}

.site-nav-mobile__link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;

  letter-spacing: 0.03em;

  color: $secondary-title-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
