.problems {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom,
    $secondary-background-color 79%,
    $primary-background-color 79%
  );
}

.problems__title {
  margin-bottom: 25px;
  padding-top: 25px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: $secondary-title-text-color;

  &--select {
    color: $selection-title-text-color;
  }

  &--shift {
    display: block;
  }
}

.problems__board {
  background-color: $primary-background-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 19px 30px 19px 30px;
}

.problems__item {
  &::before {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.72;
  }
}

.problems__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;

  color: $primary-title-text-color;
}

@media screen and (max-width: $mobile-only) {
  .problems__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: $tablet-general) {
  .problems {
    background-image: linear-gradient(
      to bottom,
      $secondary-background-color 340px,
      $primary-background-color 340px
    );
  }

  .problems__title {
    margin-bottom: 36px;
    padding-top: 60px;
  }

  .problems__board {
    padding: 26px 96px 30px 96px;
  }

  .problems__list {
    @include grid-list(42px, 20px);
  }

  .problems__item {
    @include grid-item(2, 42px, 20px);
  }
}

@media screen and (min-width: $desktop-up) {
  .problems {
    background-image: url('../../src/images/svg/problems-bg.svg'),
      linear-gradient(
        to bottom,
        $secondary-background-color 560px,
        $primary-background-color 560px
      );
    background-position: top 88px right, center;
  }

  .problems__title {
    margin-bottom: 70px;
    padding-top: 100px;

    font-size: 46px;
  }

  .problems__board {
    padding: 70px 114px 62px 114px;
  }

  .problems__list {
    @include grid-list(40px, 32px);
  }

  .problems__item {
    @include grid-item(3, 40px, 32px);

    &::before {
      margin-bottom: 10px;

      font-size: 20px;
      line-height: 1.65;
    }
  }

  .problems__description {
    font-size: 20px;
    line-height: 1.4;
  }
}
