h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-colour);
  font-size: var(--primary-font-size);
  letter-spacing: 0.03em;
}

address {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  background-color: transparent;
  border: none;
}

.reviews {
  min-width: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 59px;
  padding-top: 94px;
  background: #ffffff;
  position: relative;
}

.review-slide {
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  width: 100%;
  outline: 2px solid red;
  padding-top: 44px;
}

.slider {
  /* width: 100%; */
}

.review-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.03em;

  color: #111518;
  position: absolute;

  padding: 0 20px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  /* opacity: 0.2; */
}

.slick-active {
  /* opacity: 0.5; */
}

.slick-current {
  opacity: 1;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 25px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  border: 2px solid #ff6b09;
  box-sizing: border-box;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.slider .slick-arrow.slick-next {
  right: 0;
  border: 2px solid #ff6b09;
  box-sizing: border-box;
}

.mthw {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture1 {
  background-color: teal;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}

.vk {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #436eab;
  font-size: 20px;
  margin-bottom: 20px;
}

.review-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.08em;

  color: #ff6b09;
  margin-bottom: 10px;
}

.review-about {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;

  color: #b9b9b9;
  margin-bottom: 25px;
}

.review-article {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;

  color: #3d3d3d;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;

  color: #3d3d3d;
  margin-bottom: 30px;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  margin: 0px 5px;
  list-style: none;
}

.slider .slick-dots li.slick-active button {
  border: 2px solid black;
}

.slider .slick-dots button {
  font-size: 0;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: tomato;
  border: none;
  box-sizing: border-box;
  /* visibility: hidden; */
}

.slider-item {
}

.list-review-nav {
  display: flex;
}

.list-review-nav-item {
  font-size: 20;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: tomato;
  /* visibility: hidden; */
  list-style: none;
}

.slider .slick-current:not(.mthw) {
  border: 1px solid black;
}
